#mapbox-container-element-id {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}

.mapboxgl-ctrl-group {
    .map-controll {
        &__button {
            padding: 11px;
            width: 45px;
            height: 45px;
            outline: none;

            &_active {
                background-color: #1eb056 !important;

                & > svg {
                    fill: white;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.mapboxgl-popup-content {
    .map-popup {
        width: 220px;

        & > * {
            box-sizing: border-box;
        }

        &__button {
            padding: 5px;
            width: 100%;
            cursor: pointer;
        }

        &__input {
            margin-top: 5px;
            width: 100%;
            padding: 5px;
        }

        &__label {
            font-weight: bold;
            font-size: 12px;
        }

        &__title {
            font-weight: bold;
            font-size: 12px;
        }

        &__controls {
            display: flex;
            padding-top: 5px;

            & > button:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__color {
            display: flex;
            margin: 10px 0;
            align-items: center;

            & > input {
                margin-left: 15px;
            }
        }
    }
}
