.mapboxgl-ctrl-group {
    .admin-controll {
        &__button {
            padding: 5px;
            width: 40px;
            height: 40px;
            outline: none;

            &_active {
                background-color: #1eb056 !important;

                & > svg {
                    fill: white;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.mapboxgl-popup-content {
    .admin-controll {
        &__popup {
            width: 200px;
        }
    }
}
